
CrystalBeatmachine/.vs/CrystalBeatmachine/v15/sqlite3/storage.ide
CrystalBeatmachine/.vs/CrystalBeatmachine/v15/Server/sqlite3/db.lock
CrystalBeatmachine/.vs/CrystalBeatmachine/v15/Server/sqlite3/storage.ide
CrystalBeatmachine/.vs/CrystalBeatmachine/v15/Server/sqlite3/storage.ide-shm
CrystalBeatmachine/.vs/CrystalBeatmachine/v15/Server/sqlite3/storage.ide-wal
CrystalBeatmachine/.vs/CrystalBeatmachine/v15/Server/sqlite3/db.lock
CrystalBeatmachine/.vs/CrystalBeatmachine/v15/Server/sqlite3/db.lock
